.container{
    
    border:1px solid #000;
    .logo-container{
        background-color:black;
        padding:10px;
    }
    .App{
        display:grid;
        grid-template-columns: 40px 40px 40px 40px ;
        grid-template-rows: 40px 40px 40px 40px 40px;
        max-width:960px;
    }
    .specContent{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:1;
        
    }
    .numContent{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:2;
        grid-row-end:5;
    }

}


.specButton{
    color:red;
    
}


    