#root {
    height: auto;   
    width: 400px;
    margin: 0 auto;
   }
   
.container {
    background-color: #c00025;
    width: 100%;
    max-width: 850px;
    height: auto;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    margin: 200px auto;
}
.display {
    margin-top: 25px auto;
    margin: 21px;
    height: 80px;
    width: 80%;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .logo {
    margin: 25px 0 0 25px;
  }

  .App {
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
  }

  .App > div {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      }



  .button {    
    color: white;
    font-size: 2.5rem;
    background: lightskyblue;
    border-radius: 100px;
    border: 1.8px solid black;
    margin: 5px;  
    height: auto;
    width: 29%;  
  }


  .numberBttn {
    background-color: dodgerblue;
  }

  .numberBtn:nth-child(10) {
      width: 60%;
  }

  .specialBttn {
    background-color: #113c78;
  }

  .operatorBttnContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .operatorBttn {
      width: 70%;
      background-color: #3db5e5;
  }