.container {
  border: 1px solid black;
  background-color: #A81D36;
  width: 300px;
  border-radius: 5px;
}

.calcButton {
  color: white;
  border-radius: 10px;
  background-color: #184379;
}

.operatorButton {
  color: white;
  border-radius: 10px;
  background-color: #237293;
}

.specialButton {
  color: white;
  border-radius: 10px;
  background-color: #225D9E;
}

.display {
  border: 1px solid #323335;
  border-radius: 25px;
  margin: 0 20px;
  color: white;
  background-color: #323335;
  text-align: right;
}

.output {
  margin: 10px 10px;
  font-size: 24px;
}

.logo {
  margin: 15px 0 10px 15px;
  width: 30%;
}
