*{
    padding:0;
    margin:0;
    font-size:18px;
    box-sizing: border-box;
}

.button{
    width:50px;
    height:50px;
    border-radius: 50%;
    color:#fff;
    margin:5px;
}

.bigbutton{
    width:110px;
    height:50px;
    border-radius: 40px;
    color:#fff;
    margin:5px;
}

.lightblue{
    background-color:#237293;
}

.mediumblue{
    background-color:#225d9e;
}

.darkblue{
    background-color:#184379;
}

.container{
    display:flex;
    flex-direction: column;
    background-color:#a81d36;
    width: 260px;
    padding:10px 10px;
    margin:0 auto;
    border-radius:5%;

}


.App{
    display:flex;
    flex-direction: row;
    width: 240px;
    padding:10px 0;
}

.logoContainer{
    width:100%;
}

.logo{
    margin: 5%;
    width:60px;
}

.display{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    background-color:#323335;
    margin: 0% 4%;
    width:92%;
    height:60px;
    border-radius:80px;
    padding:0 10px;
    color:#fff;
    font-size:40px;
}
.specials{
    width:180px;
}

.operators{
    display:flex;
    flex-direction: column;
    width:50px;
}

.numbers{
    display:flex;
    width:180px;
    flex-wrap:wrap;
}