/* .container {
    background-color: #c00025;
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin: 7px auto ;
} */

*{
    box-sizing: border-box;
}


.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    padding:20px;
}

.display {
    /* margin-top: 25px; */
    margin: 25px 0;
    height: 100px;
    /*width:100%;*/
    width: 450px;
    /*width:340px;*/
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  
}

.specials {
    display:flex;
    justify-content: space-between;
}

/*.App {
    width:65%;
    margin: 0 auto;
    border:1px solid yellow;
}*/

.content {
    width:450px;
    margin: 0 auto;
}

.numbers {
    display:flex;
    width:100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
   background: #174379;
   width:90px;
   height:90px;
   border-radius:50%; 
   color:#fff;
   display:block;
   font-size:1.2rem;
   border:1px solid #174379;
   box-shadow: 2px 4px  #313334;
   margin:0 20px 10px 10px;
   /*margin-right:20px;
   margin-bottom:10px;*/
}

.btn-lg {
   background: #174379;
   /*width:220px;*/
   height:90px;
   border-radius:50px; 
   color:#fff;
   display:block;
   font-size:1.2rem;
   border:1px solid #174379;
   box-shadow: 2px 4px  #313334;
   margin:0 20px 0 10px;
   flex-grow:2;
   /*margin-right:20px;
   margin-bottom:10px;*/
}

.btn-special {
   background: #215c9e;

}

/* .btn-number { */
   /*margin:20px 0 0 0;*/

   /*width:100px;
   height:100px;
   border-radius:100%; */
/* } */

.btn-operator {
   background: #227293;
   margin-left:0px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    width:100%;
    padding:0;
    margin:0;
    /*border:5px solid pink;*/
}

.black {
    border:4px solid black;
}

.red {
    border:4px solid red;
} 
