*{
    padding:0;
    margin:0;
    font-size:18px;
    box-sizing: border-box;
}

.button{
    width:50px;
    height:50px;
    border-radius: 50%;
    color:#fff;
    margin:5px;
    border:2px solid #FFF4;
}

.bigbutton{
    width:110px;
    height:50px;
    border-radius: 40px;
    color:#fff;
    margin:5px;
    border:2px solid #FFF4;
}

.lightblue{
    background-color:#00758B;
}

.mediumblue{
    background-color:#0C5D9E;
}

.darkblue{
    background-color:#014885;
}

.container{
    display:flex;
    flex-direction: column;
    background-color:#AE1E39;
    width: 260px;
    padding:10px 10px;
    border-radius: 10px;
    border: 2px solid #FFF5;
    margin:0 auto;
}


.App{
    display:flex;
    flex-direction: row;
    width: 240px;
    padding:10px 0;
}

.logoContainer{
    width:100%;
}

.logo{
    width:60px;
}

.display{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    background-color:#323335;
    width:100%;
    height:60px;
    border-radius:80px;
    padding:0 10px;
    color:#fff;
    font-size:40px;
    overflow:hidden;
}
.specials{
    width:180px;
}

.operators{
    display:flex;
    flex-direction: column;
    width:50px;
}

.numbers{
    display:flex;
    width:180px;
    flex-wrap:wrap;
}