.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.operators {
    display: flex;
    flex-direction: column;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
button {
    color: white;
    background-color: teal;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
