.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 425px;
    height: 650px;
    background-color: #BB1234;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  