.container {
    background-color: #c00025;
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 30px;
}

.display {
    margin-top: 25px;
    height: 85px;
    width: 315px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin-bottom: 15px;
  }





.button {
  height: 70px;
  width: 70px;
  font-size: 2rem;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0px 3px black;
  border: none;
  color: white;
}

.special-button {
    background: #1d56a7;
}

.number-button {
  background: #12336d;
}

.number-button:nth-child(10) {
  width: 145px;
  border-radius: 50px;
}

.operator-button {
  background: #35ade1;
}  