.container {
    background-color: #c00025;
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin: 7px auto ;
  }
