.container {
    background: red;
    margin: 0 auto;
    width: 25rem;
    height: 45rem;
    padding: 1rem;
    margin-top: 1rem;
    /* display: flex;
    flex-wrap: wrap; */
}


button {

    /* display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 1rem;
    color: aliceblue;
    /* margin: 0 auto; */
    background: navy;

}

.left {
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 5rem;
    margin: 0 auto;
    margin-top: 5%;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
    flex-direction: row;
}

.number-button {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 1rem;
    border-radius: 2rem;
    
}

.display {

    background: black;
    color: white;
    padding: 1rem;
    display: flex;
}


