.container {
    background-color: #c00025;
    width: 450px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
  }
  .logo-container {
    margin-top: 25px;
    margin-left: 40px;
  }
  .display {
    margin: 25px auto;
    height: 100px;
    width: 350px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5rem;
  }
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .numbers {
    display: flex;
    flex-wrap: wrap;
    width: 303px;
    text-align: center;
  }
  
  .number {
    margin: 6px 13px;
    font-size: 3rem;
    color: white;
    width: 75px;
    height: 75px;
    background-color: #184379;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #322c2d;
  }
  
  .number:nth-child(10) {
    width: 175px;
    border-radius: 50px;
  }
  
  .operators {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .operator {
    margin: 6px 13px;
    font-size: 3rem;
    color: white;
    width: 75px;
    height: 75px;
    background-color: #247293;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #322c2d;
  }
  
  .specials {
    display: flex;
    width: 303px;
    text-align: center;
  }
  
  .special {
    margin: 6px 13px;
    font-size: 3rem;
    color: white;
    width: 75px;
    height: 75px;
    background-color: #225d9e;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #322c2d;
  }
