.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display {
  margin-top: 25px;
  height: 100px;
  width: 80%;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}

.buttons {
  display: flex;
  margin: 2% auto;
  margin-right: 2%;
  padding: 0;
  justify-content: center;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.right {
  width: 15%;
  display: flex;
  margin-left: 1%;
}
.specials {
  display: flex;
  justify-content: space-between;
}
.numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.operators {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  margin: 5px 0;
  color: white;
  font-size: 50px;
  box-shadow: 0 4px black;
  border: none;
}

.special_button {
  background-color: #2061b0;
}
.operator_button {
  background-color: #3db5e5;
}
.number_button {
  background-color: #113c78;
}
