body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  size: 75;
}

.container{
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
  padding: 3%;
  background-color: dodgerblue;
  max-width: 100%;
}

.display { 
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: lightgrey;
  font-size: 3rem;
  text-align: right;
} 
