body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myNumbers {
  display: flex;
  justify-content: flex-start;
}

button {
  border: none;
  justify-content: center;
}

.numButt {

   display:flex;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   border: none;
   background: blue;
   color: white;
}

.numbersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
  height: 50%;
}