.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
}

.specials-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.numbers-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.operations-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
}